header{
    background-color: rgb(52, 156, 156);
    padding: 20px;
    color: white;
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: Arial,sans-serif;
}

nav{
    margin-top: 20px;
}

a{
    color: gold;
    text-decoration: none;
    font-size: 25px;
    padding-right: 20px;
}
a:hover{
    color: red;
}
h1:hover{
    color: rgb(151, 206, 224);
}

body{
    background-color: rgb(204, 229, 229);

}
main{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}

h2{
    font-size: 30px;
    color: rgb(42, 167, 167);
}

p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 89, 209);
}
h2:hover{
    font-size: 35px;
    color: rgb(7, 117, 117);
}

p:hover{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 75, 173);
}
img{
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
    margin-top: 20px;
}
img:hover{
    width: 350px;
}
button{
    background-color: rgba(0, 82, 82, 0);
    border: none;
}